apiVersion: porter.sh/v1
kind: Installation
metadata:
  name: kubeflow
  labels:
    porter.sh/testdata: "true"
spec:
  schemaVersion: 1.0.0
  targetNamespace: operator
  installationName: kubeflow
  bundle:
    repository: ghcr.io/squillace/aks-kubeflow-msi
    version: 0.1.7
  credentialSets:
    - aks