
---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.4.1
  creationTimestamp: null
  name: installations.porter.sh
spec:
  group: porter.sh
  names:
    kind: Installation
    listKind: InstallationList
    plural: installations
    singular: installation
  scope: Namespaced
  versions:
  - name: v1
    schema:
      openAPIV3Schema:
        description: Installation is the Schema for the installations API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: "InstallationSpec defines the desired state of Installation
              \n SERIALIZATION NOTE: * The json serialization is for persisting this
              to Kubernetes. * The yaml serialization is for creating a Porter representation
              of the resource."
            properties:
              agentConfig:
                description: AgentConfig is the name of an AgentConfig to use instead
                  of the AgentConfig defined at the namespace or system level.
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              bundle:
                properties:
                  digest:
                    description: Digest is the current digest of the bundle.
                    type: string
                  repository:
                    description: Repository is the OCI repository of the current bundle
                      definition.
                    type: string
                  tag:
                    description: Tag is the OCI tag of the current bundle definition.
                    type: string
                  version:
                    description: Version is the current version of the bundle.
                    type: string
                required:
                - repository
                type: object
              credentialSets:
                description: CredentialSets that should be included when the bundle
                  is reconciled.
                items:
                  type: string
                type: array
              installationLabels:
                additionalProperties:
                  type: string
                description: Labels applied to the installation.
                type: object
              installationName:
                description: InstallationName is the name of the installation in Porter.
                  Immutable.
                type: string
              parameterSets:
                description: ParameterSets that should be included when the bundle
                  is reconciled.
                items:
                  type: string
                type: array
              parameters:
                description: Parameters specified by the user through overrides. Does
                  not include defaults, or values resolved from parameter sources.
                type: object
                x-kubernetes-preserve-unknown-fields: true
              porterConfig:
                description: PorterConfig is the name of a PorterConfig to use instead
                  of the PorterConfig defined at the namespace or system level.
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              schemaVersion:
                description: SchemaVersion is the version of the installation state
                  schema.
                type: string
              targetNamespace:
                description: TargetNamespace (in Porter) where the installation is
                  defined.
                type: string
            required:
            - bundle
            - installationName
            - schemaVersion
            - targetNamespace
            type: object
          status:
            description: InstallationStatus defines the observed state of Installation
            properties:
              activeJob:
                description: LocalObjectReference contains enough information to let
                  you locate the referenced object inside the same namespace.
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
              lastJob:
                description: LocalObjectReference contains enough information to let
                  you locate the referenced object inside the same namespace.
                properties:
                  name:
                    description: 'Name of the referent. More info: https://kubernetes.io/docs/concepts/overview/working-with-objects/names/#names
                      TODO: Add other useful fields. apiVersion, kind, uid?'
                    type: string
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
status:
  acceptedNames:
    kind: ""
    plural: ""
  conditions: []
  storedVersions: []
