name: build
on: [push,pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Set up Cache
        uses: actions/cache@v2
        with:
          path: ~/go/pkg/mod
          key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
          restore-keys: |
            ${{ runner.os }}-go-
      - name: Set up Go
        uses: actions/setup-go@v2
        with:
          go-version: 1.15
      - name: Setup Porter
        uses: getporter/gh-action@v0.1.3
        with:
          porter_version: v1.0.0-alpha.4
      - name: Set up Mage
        run: go run mage.go EnsureMage
      - name: Build
        run: mage -v BuildBundle
      - name: Test
        run: mage -v Test
      - name: Report Unit Test Coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage-unit.out
          flags: unit-tests
      - name: Report Integration Test Coverage
        uses: codecov/codecov-action@v1
        with:
          files: ./coverage-integration.out
          flags: integration-tests
      - name: Login to Docker Hub
        if: ${{ github.event_name != 'pull_request' }}
        uses: docker/login-action@v1
        with:
          registry: ghcr.io
          username: ${{ secrets.GHCR_USER }}
          password: ${{ secrets.GHCR_TOKEN }}
      - name: Publish
        if: ${{ github.event_name != 'pull_request' }}
        run: mage -v Publish
        env:
          ENV: production
